[build]
  base = "."
  publish = "frontend/.next"
  command = "pnpm --filter @smart-food-logger/shared build && pnpm --filter @smart-food-logger/frontend build"
  ignore = "git diff --name-only $CACHED_COMMIT_REF HEAD | grep -E '^(frontend/|shared/|package\\.json|pnpm-lock\\.yaml)' | grep -E -v '^(frontend/\\.env\\.local\\.example|frontend/test/)' && exit 1 || exit 0"

[context.production.environment]
  APP_ENVIRONMENT = "PROD"

[context.deploy-preview]
  command = "export NEXT_PUBLIC_FITBIT_FRONTEND_REDIRECT_URI=\"https://deploy-preview-$REVIEW_ID--smart-food-logger.netlify.app/oauth\" && pnpm --filter @smart-food-logger/shared build && pnpm --filter @smart-food-logger/frontend build"

[context.deploy-preview.environment]
  APP_ENVIRONMENT = "preview"

[context.branch-deploy.environment]
  APP_ENVIRONMENT = "staging"
