[build]
  base = "frontend"
  publish = ".next"
  command = "npm run build"

[context.production.environment]
  APP_ENVIRONMENT = "PROD"

[context.deploy-preview]
  command = "export NEXT_PUBLIC_FITBIT_FRONTEND_REDIRECT_URI=\"https://deploy-preview-$REVIEW_ID--smart-food-logger.netlify.app/oauth\" && npm run build"

[context.deploy-preview.environment]
  APP_ENVIRONMENT = "preview"

[context.branch-deploy.environment]
  APP_ENVIRONMENT = "staging"
