[build]
  base = "."
  publish = "frontend/.next"
  command = "pnpm --filter @smart-food-logger/shared build && pnpm --filter @smart-food-logger/frontend build"
  ignore = "bash scripts/netlify-ignore.sh"

[context.production.environment]
  APP_ENVIRONMENT = "PROD"

[context.deploy-preview]
  command = "export NEXT_PUBLIC_FITBIT_FRONTEND_REDIRECT_URI=\"https://deploy-preview-$REVIEW_ID--smart-food-logger.netlify.app/oauth\" && pnpm --filter @smart-food-logger/shared build && pnpm --filter @smart-food-logger/frontend build"

[context.deploy-preview.environment]
  APP_ENVIRONMENT = "preview"

[context.branch-deploy.environment]
  APP_ENVIRONMENT = "staging"
