name: Lint and Format Check

on:
  push:
    branches: [main, develop]
  pull_request:
    branches: [main, develop]

jobs:
  lint-and-format-check:
    name: Code Style Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Environment
        uses: ./.github/actions/setup

      - name: Run ESLint Check (No Fix)
        run: pnpm run lint

      - name: Run Prettier Check (No Write)
        run: pnpm run format:check
